<html>
<head>
	<meta charset="UTF-8">
	<link href="../css/style.css" rel="stylesheet"> <!-- for heroku running -->
	<link href="../../../public/css/style.css" rel="stylesheet"> <!-- for local running -->
	<link href="../../../../../../github/uvaCONEX/ONEXYS/public/css/style.css" rel="stylesheet"> <!-- for local running in uvaCONEX/partnerInstitutions/.. -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
</head>
<body>
<div class="user_content">
<div class="onexys_styling lifeoverride">

<!-- 

Week 1: Sylvester and Study Spots, Sports amd Rec with Amy and Lauren
Week 2: 
Week 3: 
Week 4:
Week 5:
Week 6: 
-->

<div> </div>

	<div class="coach_packet lifeatpacket">
	    <div class="coach_header welcomefirst" id="physicsMathRosemina"></div>
	    <div class="vid-container lifeatvid left">
		    <div class="onexys_video">
                <a class="colorbox" href="https://youtube.com/embed/xYwUseH5ROM?autoplay=1">
                    <img class="onexys_thumbnail" src="https://i.imgur.com/tNQy0nR.png" alt="" />
                    <img class="onexys_playbutton" src="https://i.imgur.com/se2ptgK.png" alt="Playbutton" />
                </a>
			</div>
		</div>
		<div class="coach_name lifeatcaption left">Navigating Physics and Math<br><br><span class="lifeatdescription">Navigating Physics and Math at Duke with Rosemina</div>
	</div>

	<div class="coach_packet lifeatpacket">
	    <div class="coach_header " id="foodDisha"></div>
	    <div class="vid-container lifeatvid left">
		    <div class="onexys_video">
                <a class="colorbox" href="https://youtube.com/embed/JPsBBqLEF8c?autoplay=1">
                    <img class="onexys_thumbnail" src="https://i.imgur.com/tNQy0nR.png" alt="" />
                    <img class="onexys_playbutton" src="https://i.imgur.com/se2ptgK.png" alt="Playbutton" />
                </a>
			</div>
		</div>
		<div class="coach_name lifeatcaption left">Food Scene<br><br><span class="lifeatdescription">Learn about food at Duke with Disha Jotsinghani!</div>
	</div>
	
	<div class="coach_packet lifeatpacket">
	    <div class="coach_header " id="jobsEmma"></div>
	    <div class="vid-container lifeatvid left">
		    <div class="onexys_video">
                <a class="colorbox" href="https://youtube.com/embed/7RIvRrtuwaQ?autoplay=1">
                    <img class="onexys_thumbnail" src="https://i.imgur.com/tNQy0nR.png" alt="" />
                    <img class="onexys_playbutton" src="https://i.imgur.com/se2ptgK.png" alt="Playbutton" />
                </a>
			</div>
		</div>
		<div class="coach_name lifeatcaption left">Jobs at Duke<br><br><span class="lifeatdescription">Jobs at Duke with Emma Maddox</div>
	</div>




	<div class="coach_packet lifeatpacket">
	    <div class="coach_header" id="natureAnna2"></div>
	    <div class="vid-container lifeatvid left">
		    <div class="onexys_video">
                <a class="colorbox" href="https://youtube.com/embed/AGVtPw1WWSM?autoplay=1">
                    <img class="onexys_thumbnail" src="https://i.imgur.com/tNQy0nR.png" alt="" />
                    <img class="onexys_playbutton" src="https://i.imgur.com/se2ptgK.png" alt="Playbutton" />
                </a>
			</div>
		</div>
		<div class="coach_name lifeatcaption left">Nature Spots at Duke<br><br><span class="lifeatdescription">Anna<sup>2</sup> (Anna Brown and Anna Voelk) take us on a tour of nature spots at Duke</div>
	</div>
	
	<div class="coach_packet lifeatpacket">
	    <div class="coach_header " id="researchJulia"></div>
	    <div class="vid-container lifeatvid left">
		    <div class="onexys_video">
                <a class="colorbox" href="https://youtube.com/embed/cr135KOMJ44?autoplay=1">
                    <img class="onexys_thumbnail" src="https://i.imgur.com/tNQy0nR.png" alt="" />
                    <img class="onexys_playbutton" src="https://i.imgur.com/se2ptgK.png" alt="Playbutton" />
                </a>
			</div>
		</div>
		<div class="coach_name lifeatcaption left">Research Opportunities<br><br><span class="lifeatdescription">Explore Research at Duke with Julia Happel</div>
	</div>
	
	
	<div class="coach_packet lifeatpacket">
	    <div class="coach_header " id="academicNolan"></div>
	    <div class="vid-container lifeatvid left">
		    <div class="onexys_video">
                <a class="colorbox" href="https://youtube.com/embed/TFiSKkegPLQ?autoplay=1">
                    <img class="onexys_thumbnail" src="https://i.imgur.com/tNQy0nR.png" alt="" />
                    <img class="onexys_playbutton" src="https://i.imgur.com/se2ptgK.png" alt="Playbutton" />
                </a>
			</div>
		</div>
		<div class="coach_name lifeatcaption left">Academic Resources<br><br><span class="lifeatdescription">Nolan Zheng gets us access to important academic resources.</div>
	</div>

	<div class="coach_packet lifeatpacket">
	    <div class="coach_header " id="clubsEmma"></div>
	    <div class="vid-container lifeatvid left">
		    <div class="onexys_video">
                <a class="colorbox" href="https://youtube.com/embed/ltZc8n1MtLQ?autoplay=1">
                    <img class="onexys_thumbnail" src="https://i.imgur.com/tNQy0nR.png" alt="" />
                    <img class="onexys_playbutton" src="https://i.imgur.com/se2ptgK.png" alt="Playbutton" />
                </a>
			</div>
		</div>
		<div class="coach_name lifeatcaption left">Clubs at Duke<br><br><span class="lifeatdescription">Emma Maddox gets us up to speed on all the clubs at Duke.</div>
	</div>
	
	<div class="coach_packet lifeatpacket">
	    <div class="coach_header" id="studySylvester"></div>
	    <div class="vid-container lifeatvid left">
		    <div class="onexys_video">
                <a class="colorbox" href="https://youtube.com/embed/ULDIasNmpIM?autoplay=1">
                    <img class="onexys_thumbnail" src="https://i.imgur.com/tNQy0nR.png" alt="" />
                    <img class="onexys_playbutton" src="https://i.imgur.com/se2ptgK.png" alt="Playbutton" />
                </a>
			</div>
		</div>
		<div class="coach_name lifeatcaption left">Study Spots<br><br><span class="lifeatdescription">Explore study spots at Duke with Sylvester Arizie</div>
	</div>

	<div class="coach_packet lifeatpacket">
	    <div class="coach_header " id="sportsRecAmyLauren"></div>
	    <div class="vid-container lifeatvid left">
		    <div class="onexys_video">
                <a class="colorbox" href="https://youtube.com/embed/ahScgWTCXok?autoplay=1">
                    <img class="onexys_thumbnail" src="https://i.imgur.com/tNQy0nR.png" alt="" />
                    <img class="onexys_playbutton" src="https://i.imgur.com/se2ptgK.png" alt="Playbutton" />
                </a>
			</div>
		</div>
		<div class="coach_name lifeatcaption left">Sports and Rec<br><br><span class="lifeatdescription">Explore Sports and Recreation at Duke with Amy and Lauren</div>
	</div>



	<div class="coach_packet lifeatpacket">
	    <div class="coach_header " id="musicErica"></div>
	    <div class="vid-container lifeatvid left">
		    <div class="onexys_video">
                <a class="colorbox" href="https://youtube.com/embed/6zFh4BZmvbk?autoplay=1">
                    <img class="onexys_thumbnail" src="https://i.imgur.com/tNQy0nR.png" alt="" />
                    <img class="onexys_playbutton" src="https://i.imgur.com/se2ptgK.png" alt="Playbutton" />
                </a>
			</div>
		</div>
		<div class="coach_name lifeatcaption left">Music at Duke<br><br><span class="lifeatdescription">Learn about music at Duke with Erica Ham</div>
	</div>
	
	<div class="coach_packet lifeatpacket">
	    <div class="coach_header" id="natureMegan"></div>
	    <div class="vid-container lifeatvid left">
		    <div class="onexys_video">
                <a class="colorbox" href="https://youtube.com/embed/mx0zsUmfiMM?autoplay=1">
                    <img class="onexys_thumbnail" src="https://i.imgur.com/tNQy0nR.png" alt="" />
                    <img class="onexys_playbutton" src="https://i.imgur.com/se2ptgK.png" alt="Playbutton" />
                </a>
			</div>
		</div>
		<div class="coach_name lifeatcaption left">Nature and Greenery at Duke<br><br><span class="lifeatdescription">Megan Liu talks about the vibrant scenery at Duke</div>
	</div>

	<div class="coach_packet lifeatpacket">
	    <div class="coach_header" id="buildingsKevin"></div>
	    <div class="vid-container lifeatvid left">
		    <div class="onexys_video">
                <a class="colorbox" href="https://youtube.com/embed/utboRK37ipg?autoplay=1">
                    <img class="onexys_thumbnail" src="https://i.imgur.com/tNQy0nR.png" alt="" />
                    <img class="onexys_playbutton" src="https://i.imgur.com/se2ptgK.png" alt="Playbutton" />
                </a>
			</div>
		</div>
		<div class="coach_name lifeatcaption left">Noteable Buildings at Duke<br><br><span class="lifeatdescription">Kevin Jiang points out notable buildings at Duke </div>
	</div>
		
		<div class="coach_packet lifeatpacket">
	    <div class="coach_header" id="transportSawyer"></div>
	    <div class="vid-container lifeatvid left">
		    <div class="onexys_video">
                <a class="colorbox" href="https://youtube.com/embed/5PNWy8Jg1dE?autoplay=1">
                    <img class="onexys_thumbnail" src="https://i.imgur.com/tNQy0nR.png" alt="" />
                    <img class="onexys_playbutton" src="https://i.imgur.com/se2ptgK.png" alt="Playbutton" />
                </a>
			</div>
		</div>
		<div class="coach_name lifeatcaption left">Transportation at Duke<br><br><span class="lifeatdescription">Sawyer Grovogel helpfully explains transportation at Duke</div>
	</div>
	
	<div class="coach_packet lifeatpacket">
	    <div class="coach_header" id="ldocDaisja"></div>
	    <div class="vid-container lifeatvid left">
		    <div class="onexys_video">
                <a class="colorbox" href="https://www.youtube.com/embed/JcYFgeRur-w?autoplay=1">
                    <img class="onexys_thumbnail" src="https://i.imgur.com/tNQy0nR.png" alt="" />
                    <img class="onexys_playbutton" src="https://i.imgur.com/se2ptgK.png" alt="Playbutton" />
                </a>
			</div>
		</div>
		<div class="coach_name lifeatcaption left">LDOC<br><br><span class="lifeatdescription">Daisja Honorable talks about LDOC-- the Last Day of class  at Duke</div>
	</div>
	
	<div class="coach_packet lifeatpacket">
	    <div class="coach_header" id="wellnessDaisja"></div>
	    <div class="vid-container lifeatvid left">
		    <div class="onexys_video">
                <a class="colorbox" href="https://youtube.com/embed/Prow0DrUk0E?autoplay=1">
                    <img class="onexys_thumbnail" src="https://i.imgur.com/tNQy0nR.png" alt="" />
                    <img class="onexys_playbutton" src="https://i.imgur.com/se2ptgK.png" alt="Playbutton" />
                </a>
			</div>
		</div>
		<div class="coach_name lifeatcaption left">Wellness at Duke<br><br><span class="lifeatdescription">Daisja Honorable recommends lots of wellness resources at Duke</div>
	</div>
	
	<div class="coach_packet lifeatpacket">
	    <div class="coach_header" id="diningEmma"></div>
	    <div class="vid-container lifeatvid left">
		    <div class="onexys_video">
                <a class="colorbox" href="https://youtube.com/embed/3ThHQ11bSVs?autoplay=1">
                    <img class="onexys_thumbnail" src="https://i.imgur.com/tNQy0nR.png" alt="" />
                    <img class="onexys_playbutton" src="https://i.imgur.com/se2ptgK.png" alt="Playbutton" />
                </a>
			</div>
		</div>
		<div class="coach_name lifeatcaption left">Dining Options<br><br><span class="lifeatdescription">Emma Maddock gives us all the options for  dining on campus</div>
	</div>
<!-->	
	<div class="coach_packet lifeatpacket">
	    <div class="coach_header" id="engBuildingsEmma"></div>
	    <div class="vid-container lifeatvid left">
		    <div class="onexys_video">
                <a class="colorbox" href="https://youtube.com/embed/AOVVspfihew?autoplay=1">
                    <img class="onexys_thumbnail" src="https://i.imgur.com/tNQy0nR.png" alt="" />
                    <img class="onexys_playbutton" src="https://i.imgur.com/se2ptgK.png" alt="Playbutton" />
                </a>
			</div>
		</div>
		<div class="coach_name lifeatcaption left">Engineering Buildings<br><br><span class="lifeatdescription">Emma Maddock navigates all the  Engineering Buildings on campus</div>
	</div>
-->
	<div class="coach_packet lifeatpacket">
	    <div class="coach_header" id="kvilleKatie"></div>
	    <div class="vid-container lifeatvid left">
		    <div class="onexys_video">
                <a class="colorbox" href="https://youtube.com/embed/5OVhnGR0HDs?autoplay=1">
                    <img class="onexys_thumbnail" src="https://i.imgur.com/tNQy0nR.png" alt="" />
                    <img class="onexys_playbutton" src="https://i.imgur.com/se2ptgK.png" alt="Playbutton" />
                </a>
			</div>
		</div>
		<div class="coach_name lifeatcaption left">K-ville<br><br><span class="lifeatdescription">Katie Newton prepares us for all things K-ville </div>
	</div>
	
	<div class="coach_packet lifeatpacket">
	    <div class="coach_header" id="studySpotsKatie"></div>
	    <div class="vid-container lifeatvid left">
		    <div class="onexys_video">
                <a class="colorbox" href="https://youtube.com/embed/PizwZQOqO4w?autoplay=1">
                    <img class="onexys_thumbnail" src="https://i.imgur.com/tNQy0nR.png" alt="" />
                    <img class="onexys_playbutton" src="https://i.imgur.com/se2ptgK.png" alt="Playbutton" />
                </a>
			</div>
		</div>
		<div class="coach_name lifeatcaption left">Study Spots<br><br><span class="lifeatdescription">Katie Newton find the best study spots. </div>
	</div>
	
	<div class="coach_packet lifeatpacket">
	    <div class="coach_header" id="artsSawyer"></div>
	    <div class="vid-container lifeatvid left">
		    <div class="onexys_video">
                <a class="colorbox" href="https://youtube.com/embed/YZEaNnj8xf4?autoplay=1">
                    <img class="onexys_thumbnail" src="https://i.imgur.com/tNQy0nR.png" alt="" />
                    <img class="onexys_playbutton" src="https://i.imgur.com/se2ptgK.png" alt="Playbutton" />
                </a>
			</div>
		</div>
		<div class="coach_name lifeatcaption left">Arts at Duke<br><br><span class="lifeatdescription">Sawyer Grovogel introduces ways to be involved in Arts at Duke. </div>
	</div>
	
	<div class="coach_packet lifeatpacket">
	    <div class="coach_header" id="sportsRecSawyer"></div>
	    <div class="vid-container lifeatvid left">
		    <div class="onexys_video">
                <a class="colorbox" href="https://youtube.com/embed/maWVhKtYcfQ?autoplay=1">
                    <img class="onexys_thumbnail" src="https://i.imgur.com/tNQy0nR.png" alt="" />
                    <img class="onexys_playbutton" src="https://i.imgur.com/se2ptgK.png" alt="Playbutton" />
                </a>
			</div>
		</div>
		<div class="coach_name lifeatcaption left">Sports and Rec<br><br><span class="lifeatdescription">Sawyer Grovogel talks about great sports and rec opportunities to jump into. </div>
	</div>
	
	

	<div class="coach_packet lifeatpacket">
	    <div class="coach_header" id="travelElle"></div>
	    <div class="vid-container lifeatvid left">
		    <div class="onexys_video">
                <a class="colorbox" href="https://youtube.com/embed/Gz-OwIX6c78?autoplay=1">
                    <img class="onexys_thumbnail" src="https://i.imgur.com/tNQy0nR.png" alt="" />
                    <img class="onexys_playbutton" src="https://i.imgur.com/se2ptgK.png" alt="Playbutton" />
                </a>
			</div>
		</div>
		<div class="coach_name lifeatcaption left">International Travel<br><br><span class="lifeatdescription">Elle Strand  gets us up to speed on ways to travel/study abroad while at Duke.</div>
	</div>


	


	
	
<div class="welcometitle coach_title lifeattitleshad"></div>
<div class="coaches_index lifeatindex">
  	<a href="#physicsMathRosemina">Navigating Physics and Math</a><br />
  	<a href="#foodDisha">Food Scene</a><br />
  	<a href="#jobsEmma">Jobs at Duke</a><br />
    <a href="#natureAnna2">Nature Spots</a><br /> 
    <a href="#researchJulia">Research Opportunities</a><br />
    <a href="#academicNolan">Academic Recourses</a><br />
    <a href="#clubsEmma">Clubs at Duke</a><br />
    <a href="#studySylvester">Study Spots</a><br />  
    <a href="#sportsRecAmyLauren">Sports and Rec</a><br />  

<!--    
       
  
   
  
-->
    <a href="#musicErika">Music at Duke</a><br />
    <a href="#natureMegan">Nature and Greenery</a><br />
    <a href="#buildingsKevin">Noteable Buildings at Duke</a><br />
	<a href="#transportSawyer">Transportation at Duke</a><br />
	<a href="#ldocDaisja">LDOC</a><br />
	<a href="#wellnessDaisja">Wellness</a><br />
	<!--<a href="#diningEmma">Dining Options</a><br />  -->
	<a href="#engBuildingsEmma">Engineering Buildings</a><br />
	<a href="#kvilleKatie">K-ville</a><br />
	<a href="#artsSawyer">Arts at Duke</a><br />
	<a href="#sportsRecSawyer">Sports and Rec</a><br />
	<a href="#travelElle">International Travel</a><br />


<div class="coach_title welcometitle lifeattitle">
		<p>Now Presenting...</p>
		<h1>Life@Duke</h1>
</div>


</div>
</div>
</body>
</html>
