<html>
<head>
	<meta charset="UTF-8">
	<link href="../css/style.css" rel="stylesheet"> <!-- for heroku running -->
	<link href="../../../public/css/style.css" rel="stylesheet"> <!-- for local running -->
	<link href="../../../../../../github/uvaCONEX/ONEXYS/public/css/style.css" rel="stylesheet"> <!-- for local running in uvaCONEX/partnerInstitutions/.. -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
</head>
	<body>
    <div class="user_content">
    <div class="onexys_styling coachoverride">

<div class="coach_packet">
    <div id="sylvester" class="coach_header"></div>
    <div class="coach_photo"><img src="https://i.imgur.com/Wh8VyQJ.jpg"
    alt="Sylvester Arizie"  /></div>
    <div class="coach_name left">Sylvester Arizie</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">Electrical and Computer Engineering</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://duke.zoom.us/j/99348545681">https://duke.zoom.us/j/<br>99348545681</a></div>
    <div class="coach_prelim">
    <div class="coach_college"><span class="coach_ital">Class of 2027</span></div>
    </div>
    </div>
    <div class="coach_bio">Hello!. I am Arizie Johannes Sylvester , a rising  sophmore currently studying Electrical and Computer Engineering, mostly just for vybes. I enjoy puzzles, love movies about vampires and completely nerd out on the MCU. I look forward to having a wonderful time with ASCEND. It is most certainly one of the participations that made entry and coexistence at Duke fairly easier.</div>
</div>
    
<div class="coach_packet">
	   <div id="annab" class="coach_header"></div>
	   <div class="coach_photo"><img src="https://i.imgur.com/IhJAqZM.jpg"
	   alt="Anna Brown" width="300" height="375" /></div>
	   <div class="coach_name left">Anna Brown</div>
	   <div class="coach_prelim">
	   <div class="coach_major_strong"><strong><br />Major:</strong></div>
	   <div class="coach_major">Physics and Math</div>
	   </div>
	   <div class="coach_prelim">
	   <div class="coach_major_strong"><strong>Zoom:</strong></div>
    	<div class="coach_major"><a href="https://us05web.zoom.us/j/87637178246?pwd=KChHJ1cBdEHhM4OWvwJDzkoMsGVXPY.1">https://us05web.zoom.us/j/<br>87637178246?pwd=<br>KChHJ1cBdEHhM4OWvw<br>JDzkoMsGVXPY.1</a></div>
	   <div class="coach_prelim">
	   <div class="coach_college"><span class="coach_ital">Class of 2026</span></div>
	   </div>
	   </div>
	   <div class="coach_bio">I'm a junior from Beaufort, SC studying physics and minoring in math. I love exploring nature in all forms–from long distance running on trails to taking photos to watching Planet Earth. Reading is one of my favorite hobbies, along with playing soccer and thrifting. If I could have any superpower it would be time-travel and I would travel back to see dinosaurs!</div>
</div>

<div class="coach_packet">
    <div id="annav" class="coach_header"></div>
    <div class="coach_photo"><img src="https://i.imgur.com/5ZDTHWS.jpg"
    alt="Anna Voelk"  /></div>
    <div class="coach_name left">Anna Voelk</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">Mechanical Engineering and German</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://duke.zoom.us/j/7388022479?pwd=aEtiYXoreXhXQUFHQzY0SDFlbW9DUT09">https://duke.zoom.us/j/<br>7388022479?pwd=<br>aEtiYXoreXhXQUFHQz<br>Y0SDFlbW9DUT09</a></div>
    <div class="coach_prelim">
    <div class="coach_college"><span class="coach_ital">Class of 2027</span></div>
    </div>
    </div>
    <div class="coach_bio">Hi! My name is Anna and I’m a sophomore studying Mechanical Engineering and German. I’m from Greenville, SC, but my parents just recently moved to Oxford, England. In general, I love creating! This can be through engineering projects, crocheting, baking, making art or playing piano. I also especially love traveling and trying new things. On campus I’m involved in Theta Tau, The Backpack Project, Duke Cru, and a coffee club. I’m pumped to be part of ASCEND this summer! </div>
</div>


    <div class="coach_veil1"></div>
    <div class="coach_veil2"></div>
    <div class="coach_title_shadow"></div>

	
<div class="coaches_index">
    <a href="#sylvester">Sylvester Arizie</a><br />
    <a href="#annab">Anna Brown</a><br />
    <a href="#annav">Anna Voelk</a><br />
</div>
	
    <div class="coach_title">
    <p>Meet the</p>
    <h1>Coaches!</h1>
    </div>
    <div class="coach_divider"></div>
    <div class="coach_heading coach_greenteam">ASCEND Green Team</div>
    </div>
    </div>
  </body>
</html>
