<html>
<head>
	<meta charset="UTF-8">
	<link href="../css/style.css" rel="stylesheet"> <!-- for heroku running -->
	<link href="../../../public/css/style.css" rel="stylesheet"> <!-- for local running -->
	<link href="../../../../../../github/uvaCONEX/ONEXYS/public/css/style.css" rel="stylesheet"> <!-- for local running in uvaCONEX/partnerInstitutions/.. -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
</head>
	<body>
    <div class="user_content">
    <div class="onexys_styling coachoverride">


<div class="coach_packet">
    <div id="amy" class="coach_header"></div>
    <div class="coach_photo"><img src="https://i.imgur.com/fKuX4rE.jpg"
    alt="Amy Fulton"  /></div>
    <div class="coach_name left">Amy Fulton</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">Neuroscience and Global Health</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://duke.zoom.us/j/7482851321">https://duke.zoom.us/j/<br>7482851321</a></div>
    <div class="coach_prelim">
    <div class="coach_college"><span class="coach_ital">Class of 2026</span></div>
    </div>
    </div>
    <div class="coach_bio">Hey! I’m Amy! I’m a junior studying neuroscience and global health on the premed track. I’m from Hudson, OH, and I do not miss the weather there!! I love powerlifting, martial arts, and scuba diving. On campus, I’m involved with Duke University EMS, Student Wellness Caucus, Women’s Wellness Club, jiu jitsu, krav maga, and two selective living groups (SLGs). I also do neurosurgery and global health research! Off campus, I’m a firefighter, college ambassador for the United Nations, and youth advisor at the State Department. </div>
</div>
	
    

<div class="coach_packet">
    <div id="julia" class="coach_header"></div>
    <div class="coach_photo"><img src="https://i.imgur.com/4mUkVZt.jpg"
    alt="Julia Happel"  /></div>
    <div class="coach_name left">Julia Happel</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">Environmental Science, Spanish and Chemistry</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://duke.zoom.us/j/6392056463?pwd=M1cwcytHakk4Q2tRSlg5VEtzTDVJUT09">https://duke.zoom.us/j/<br>6392056463?pwd=<br>M1cwcytHakk4Q2<br>tRSlg5VEtzTDVJUT09</a></div>
    <div class="coach_prelim">
    <div class="coach_college"><span class="coach_ital">Class of 2026</span></div>
    </div>
    </div>
    <div class="coach_bio">Hi! My name is Julia and I am a Junior from NYC. I am on the pre-med track and am majoring in Environmental Science with minors in Spanish and Chemistry. I love the outdoors and enjoy playing tennis, rock climbing, and cooking. On campus, I am involved in research, Project Waves, GANO, FEMMES+ Connect, and Duke Climate Coalition. I can't wait to be an ASCEND coach this summer!</div>
</div>

    
	
<div class="coach_packet">
    <div id="disha" class="coach_header"></div>
	<div class="coach_photo"><img src="https://i.imgur.com/h5Oh283.jpg"
    alt="Disha Jotsinghani"  /></div>
    <div class="coach_name left">Disha Jotsinghani</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">Neuroscience</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://duke.zoom.us/j/7391154939">https://duke.zoom.us/j/<br>7391154939</a></div>
    <div class="coach_prelim">
    <div class="coach_college"><span class="coach_ital">Class of 2026</span></div>
    </div>
</div>
    <div class="coach_bio">Hi! My name is Disha and I’m a junior from Columbus, OH studying neuroscience. I love to go for walks, bake, and travel! On campus I’m involved in Duke DevilTHON, EyeServe, Phi Delta Epsilon, and Duke Children's Ambassadors Program. I can't wait for this summer as an ASCEND coach!</div>
</div>

	
    <div class="coach_veil1"></div>
    <div class="coach_veil2"></div>
    <div class="coach_title_shadow"></div>

	
<div class="coaches_index">
    <a href="#amy">Amy Fulton</a><br />
    <a href="#disha">Disha Jotsinghani</a><br />
    <a href="#julia">Julia Happel</a><br />
</div>
	
    <div class="coach_title">
    <p>Meet the</p>
    <h1>Coaches!</h1>
    </div>
    <div class="coach_divider"></div>
    <div class="coach_heading coach_whiteteam">ASCEND White Team</div>
    </div>
    </div>
  </body>
</html>
