<html>
<head>
	<meta charset="UTF-8">
	<link href="../css/style.css" rel="stylesheet"> <!-- for heroku running -->
	<link href="../../../public/css/style.css" rel="stylesheet"> <!-- for local running -->
	<link href="../../../../../../github/uvaCONEX/ONEXYS/public/css/style.css" rel="stylesheet"> <!-- for local running in uvaCONEX/partnerInstitutions/.. -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
</head>
	<body>
    <div class="user_content">
    <div class="onexys_styling coachoverride">

<div class="coach_packet">
    <div id="rosemina" class="coach_header"></div>
    <div class="coach_photo"><img src="https://i.imgur.com/1hypdNK.jpg"
    alt="Rosemina Ayieko"  /></div>
    <div class="coach_name left">Rosemina Ayieko</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">Biomedical Engineering</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://duke.zoom.us/j/9428969250">https://duke.zoom.us/j/<br>9428969250</a></div>
    <div class="coach_prelim">
    <div class="coach_college"><span class="coach_ital">Class of 2027</span></div>
    </div>
    </div>
    <div class="coach_bio">Hi! My name is Rosemina Ayieko, a rising sophomore from Nairobi, Kenya hoping to study Biomedical engineering on the pre-med track. I love hanging out with my friends, taking quiet walks, going to the gym and I most certainly love my dogs! I loved being part of ASCEND last year as a student and can’t wait to work with all of you to make ASCEND the best transition experience for incoming freshmen, as it was for me.</div> 
</div>

<div class="coach_packet">
    <div id="lauren" class="coach_header"></div>
    <div class="coach_photo"><img src="https://i.imgur.com/c4aojCI.jpg"
    alt="Lauren Walker"  /></div>
    <div class="coach_name left">Lauren Walker</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">Computer Science and Statistical Science</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://duke.zoom.us/j/5429087259">https://duke.zoom.us/j/<br>5429087259</a></div>
    <div class="coach_prelim">
    <div class="coach_college"><span class="coach_ital">Class of 2026</span></div>
    </div>
    </div>
    <div class="coach_bio">Hi! My name is Lauren and I am a junior from Needham, MA studying Computer Science and Statistical Science. I enjoy running, swimming, listening to music, and spending time outdoors. On campus, I have loved being involved with DTech, Camp Kesem, Women’s Wellness Club, The Penny Pilgram George Women’s Leadership Initiative, and working as a Tour Guide. If I could be any animal, I would be a dolphin, and one app I cannot live without is Spotify. I am super excited to be a part of ASCEND this summer!</div>
</div>

<div class="coach_packet">
    <div id="nolan" class="coach_header"></div>
    <div class="coach_photo"><img src="https://i.imgur.com/V600Krj.jpg"
    alt="Nolan Zeng"  /></div>
    <div class="coach_name left">Nolan Zeng</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">Electrical and Computer Engineering and Computer Science</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://duke.zoom.us/j/7210502289">https://duke.zoom.us/j/<br>7210502289</a></div>
    <div class="coach_prelim">
    <div class="coach_college"><span class="coach_ital">Class of 2027</span></div>
    </div>
    </div>
    <div class="coach_bio">I am a sophmore studying electrical and computer engineering with a second major in computer science. My hometown is Houston, TX. A little bit about myself is that I like watching movies, exploring new places, and learning how to cook/bake. I feel like my spirit animal is most like a monkey and if I could be in any movie, I would like to play Will Hunting from Good Will Hunting.</div>
</div>



	
	
	
    <div class="coach_veil1"></div>
    <div class="coach_veil2"></div>
    <div class="coach_title_shadow"></div>

	
<div class="coaches_index">
	<a href="#rosemina">Rosemina Ayieko</a><br />
	<a href="#lauren">Lauren Walker</a><br />
    <a href="#nolan">Nolan Zeng</a><br />

</div>
	
<div class="coach_title">
    <p>Meet the</p>
    <h1>Coaches!</h1>
</div>
    <div class="coach_divider"></div>
    <div class="coach_heading coach_blueteam">ASCEND Blue Team</div>
    </div>
    </div>
  </body>
</html>
