<html>
<head>
	<meta charset="UTF-8">
	<link href="../css/style.css" rel="stylesheet"> <!-- for heroku running -->
	<link href="../../../public/css/style.css" rel="stylesheet"> <!-- for local running -->
	<link href="../../../../../../github/uvaCONEX/ONEXYS/public/css/style.css" rel="stylesheet"> <!-- for local running in uvaCONEX/partnerInstitutions/.. -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
</head>
	<body>
    <div class="user_content">
    <div class="onexys_styling coachoverride">

<!--
<div class="coach_packet">
    <div id="emma" class="coach_header"></div>
	<div class="coach_photo"><img src=https://i.imgur.com/i4zQFUP.jpg"
    alt="Emma Maddox"  /></div>
    <div class="coach_name left">Emma Maddox</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">Biomedical Engineering</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://duke.zoom.us/j/8220907690">https://duke.zoom.us/j/<br>8220907690</a></div>
      <div class="coach_prelim">
    <div class="coach_college"><span class="coach_ital">Class of 2026</span></div>
    </div>
    </div>
    <div class="coach_bio">Hi!  I am Emma and I am the lead coach for the ASCEND program this summer.  I am a junior studying biomedical engineering on the 4+1 track.  I am very involved on campus through Theta Tau, Society of Women Engineers, Women's Wellness Club, Engineering World Health, DesignHub, Biomedical Engineering Society, and working as a Residential Assistant.  I am from Winston Salem, NC and I am the oldest of four girls.  In my free time I love golfing, going to the gym, and hanging out with my friends.  I worked as an ASCEND coach last summer and I am so excited to work with the program again this summer!</div>
</div>
-->
    
<div class="coach_packet">
	   <div id="annab" class="coach_header"></div>
	   <div class="coach_photo"><img src="https://i.imgur.com/IhJAqZM.jpg"
	   alt="Anna Brown" width="300" height="375" /></div>
	   <div class="coach_name left">Anna Brown</div>
	   <div class="coach_prelim">
	   <div class="coach_major_strong"><strong><br />Major:</strong></div>
	   <div class="coach_major">Physics and Math</div>
	   </div>
	   <div class="coach_prelim">
	   <div class="coach_major_strong"><strong>Zoom:</strong></div>
    	<div class="coach_major"><a href="https://us05web.zoom.us/j/8646351179">https://us05web.zoom.us/j/<br>8646351179</a></div>
	   <div class="coach_prelim">
	   <div class="coach_college"><span class="coach_ital">Class of 2026</span></div>
	   </div>
	   </div>
	   <div class="coach_bio">I'm a junior from Beaufort, SC studying physics and minoring in math. I love exploring nature in all forms–from long distance running on trails to taking photos to watching Planet Earth. Reading is one of my favorite hobbies, along with playing soccer and thrifting. If I could have any superpower it would be time-travel and I would travel back to see dinosaurs!</div>
</div>
    
<div class="coach_packet">
    <div id="rosemina" class="coach_header"></div>
    <div class="coach_photo"><img src="https://i.imgur.com/1hypdNK.jpg"
    alt="Rosemina Ayieko"  /></div>
    <div class="coach_name left">Rosemina Ayieko</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">Biomedical Engineering</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://duke.zoom.us/j/9428969250">https://duke.zoom.us/j/<br>9428969250</a></div>
    <div class="coach_prelim">
    <div class="coach_college"><span class="coach_ital">Class of 2027</span></div>
    </div>
    </div>
    <div class="coach_bio">Hi! My name is Rosemina Ayieko, a rising sophomore from Nairobi, Kenya hoping to study Biomedical engineering on the pre-med track. I love hanging out with my friends, taking quiet walks, going to the gym and I most certainly love my dogs! I loved being part of ASCEND last year as a student and can’t wait to work with all of you to make ASCEND the best transition experience for incoming freshmen, as it was for me.</div> 
</div>
    
	
<div class="coach_packet">
    <div id="disha" class="coach_header"></div>
	<div class="coach_photo"><img src="https://i.imgur.com/h5Oh283.jpg"
    alt="Disha Jotsinghani"  /></div>
    <div class="coach_name left">Disha Jotsinghani</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">Neuroscience</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://duke.zoom.us/j/7391154939">https://duke.zoom.us/j/<br>7391154939</a></div>
    <div class="coach_prelim">
    <div class="coach_college"><span class="coach_ital">Class of 2026</span></div>
    </div>
</div>
    <div class="coach_bio">Hi! My name is Disha and I’m a junior from Columbus, OH studying neuroscience. I love to go for walks, bake, and travel! On campus I’m involved in Duke DevilTHON, EyeServe, Phi Delta Epsilon, and Duke Children's Ambassadors Program. I can't wait for this summer as an ASCEND coach!</div>
</div>

<div class="coach_packet">
    <div id="sylvester" class="coach_header"></div>
    <div class="coach_photo"><img src="https://i.imgur.com/Wh8VyQJ.jpg"
    alt="Sylvester Arizie"  /></div>
    <div class="coach_name left">Sylvester Arizie</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">Electrical and Computer Engineering</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://duke.zoom.us/j/99348545681">https://duke.zoom.us/j/<br>99348545681</a></div>
    <div class="coach_prelim">
    <div class="coach_college"><span class="coach_ital">Class of 2027</span></div>
    </div>
    </div>
    <div class="coach_bio">Hello!. I am Arizie Johannes Sylvester , a rising  sophmore currently studying Electrical and Computer Engineering, mostly just for vybes. I enjoy puzzles, love movies about vampires and completely nerd out on the MCU. I look forward to having a wonderful time with ASCEND. It is most certainly one of the participations that made entry and coexistence at Duke fairly easier.</div>
</div>

<div class="coach_packet">
    <div id="nolan" class="coach_header"></div>
    <div class="coach_photo"><img src="https://i.imgur.com/V600Krj.jpg"
    alt="Nolan Zeng"  /></div>
    <div class="coach_name left">Nolan Zeng</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">Electrical and Computer Engineering and Computer Science</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://duke.zoom.us/j/7210502289">https://duke.zoom.us/j/<br>7210502289</a></div>
    <div class="coach_prelim">
    <div class="coach_college"><span class="coach_ital">Class of 2027</span></div>
    </div>
    </div>
    <div class="coach_bio">I am a sophmore studying electrical and computer engineering with a second major in computer science. My hometown is Houston, TX. A little bit about myself is that I like watching movies, exploring new places, and learning how to cook/bake. I feel like my spirit animal is most like a monkey and if I could be in any movie, I would like to play Will Hunting from Good Will Hunting.</div>
</div>
	
<div class="coach_packet">
    <div id="julia" class="coach_header"></div>
    <div class="coach_photo"><img src="https://i.imgur.com/4mUkVZt.jpg"
    alt="Julia Happel"  /></div>
    <div class="coach_name left">Julia Happel</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">Environmental Science, Spanish and Chemistry</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://duke.zoom.us/j/6392056463?pwd=M1cwcytHakk4Q2tRSlg5VEtzTDVJUT09">https://duke.zoom.us/j/<br>6392056463?pwd=<br>M1cwcytHakk4Q2<br>tRSlg5VEtzTDVJUT09</a></div>
    <div class="coach_prelim">
    <div class="coach_college"><span class="coach_ital">Class of 2026</span></div>
    </div>
    </div>
    <div class="coach_bio">Hi! My name is Julia and I am a Junior from NYC. I am on the pre-med track and am majoring in Environmental Science with minors in Spanish and Chemistry. I love the outdoors and enjoy playing tennis, rock climbing, and cooking. On campus, I am involved in research, Project Waves, GANO, FEMMES+ Connect, and Duke Climate Coalition. I can't wait to be an ASCEND coach this summer!</div>
</div>

<div class="coach_packet">
    <div id="annav" class="coach_header"></div>
    <div class="coach_photo"><img src="https://i.imgur.com/5ZDTHWS.jpg"
    alt="Anna Voelk"  /></div>
    <div class="coach_name left">Anna Voelk</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">Mechanical Engineering and German</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://duke.zoom.us/j/7388022479?pwd=aEtiYXoreXhXQUFHQzY0SDFlbW9DUT09">https://duke.zoom.us/j/<br>7388022479?pwd=<br>aEtiYXoreXhXQUFHQz<br>Y0SDFlbW9DUT09</a></div>
    <div class="coach_prelim">
    <div class="coach_college"><span class="coach_ital">Class of 2027</span></div>
    </div>
    </div>
    <div class="coach_bio">Hi! My name is Anna and I’m a sophomore studying Mechanical Engineering and German. I’m from Greenville, SC, but my parents just recently moved to Oxford, England. In general, I love creating! This can be through engineering projects, crocheting, baking, making art or playing piano. I also especially love traveling and trying new things. On campus I’m involved in Theta Tau, The Backpack Project, Duke Cru, and a coffee club. I’m pumped to be part of ASCEND this summer! </div>
</div>

<div class="coach_packet">
    <div id="lauren" class="coach_header"></div>
    <div class="coach_photo"><img src="https://i.imgur.com/c4aojCI.jpg"
    alt="Lauren Walker"  /></div>
    <div class="coach_name left">Lauren Walker</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">Computer Science and Statistical Science</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://duke.zoom.us/j/5429087259">https://duke.zoom.us/j/<br>5429087259</a></div>
    <div class="coach_prelim">
    <div class="coach_college"><span class="coach_ital">Class of 2026</span></div>
    </div>
    </div>
    <div class="coach_bio">Hi! My name is Lauren and I am a junior from Needham, MA studying Computer Science and Statistical Science. I enjoy running, swimming, listening to music, and spending time outdoors. On campus, I have loved being involved with DTech, Camp Kesem, Women’s Wellness Club, The Penny Pilgram George Women’s Leadership Initiative, and working as a Tour Guide. If I could be any animal, I would be a dolphin, and one app I cannot live without is Spotify. I am super excited to be a part of ASCEND this summer!</div>
</div>


<div class="coach_packet">
    <div id="amy" class="coach_header"></div>
    <div class="coach_photo"><img src="https://i.imgur.com/fKuX4rE.jpg"
    alt="Amy Fulton"  /></div>
    <div class="coach_name left">Amy Fulton</div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong><br />Major:</strong></div>
    <div class="coach_major">Neuroscience and Global Health</div>
    </div>
    <div class="coach_prelim">
    <div class="coach_major_strong"><strong>Zoom:</strong></div>
    <div class="coach_major"><a href="https://duke.zoom.us/j/7482851321">https://duke.zoom.us/j/<br>7482851321</a></div>
    <div class="coach_prelim">
    <div class="coach_college"><span class="coach_ital">Class of 2026</span></div>
    </div>
    </div>
    <div class="coach_bio">Hey! I’m Amy! I’m a junior studying neuroscience and global health on the premed track. I’m from Hudson, OH, and I do not miss the weather there!! I love powerlifting, martial arts, and scuba diving. On campus, I’m involved with Duke University EMS, Student Wellness Caucus, Women’s Wellness Club, jiu jitsu, krav maga, and two selective living groups (SLGs). I also do neurosurgery and global health research! Off campus, I’m a firefighter, college ambassador for the United Nations, and youth advisor at the State Department. </div></div>
	
	
	
    <div class="coach_veil1"></div>
    <div class="coach_veil2"></div>
    <div class="coach_title_shadow"></div>

	
    <div class="coaches_index">
    <a href="#annab">Anna Brown</a><br />
	<a href="#rosemina">Rosemina Ayieko</a><br />
    <a href="#disha">Disha Jotsinghani</a><br />
    <a href="#sylvester">Sylvester Arizie</a><br />
    <a href="#nolan">Nolan Zeng</a><br />
    <a href="#julia">Julia Happel</a><br />
    <a href="#annav">Anna Voelk</a><br />
    <a href="#lauren">Lauren Walker</a><br />
    <a href="#amy">Amy Fulton</a><br />
	</div>
	
    <div class="coach_title">
    <p>Meet the</p>
    <h1>Coaches!</h1>
    </div>
    <div class="coach_divider"></div>
    <div class="coach_heading coach_blueteam">ASCEND Team</div>
    </div>
    </div>
  </body>
</html>
